*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 
  this is 1 rem = 10px 
  10px(we want)/16px(browser defult) 
  = 0.625 * 100 = 62.5%
  */
  font-size: 62.5%;

  // display width >= 1800
  @include respond(big-desktop) {
    font-size: 75%;   // 1rem = 12px, 12/16 = 75%
  }
  
  // display width <= 1200 ?
  @include respond(tab-land) {
    font-size: 56.25%;  // 1rem = 9px, 9/16 = 56.25%
  }
  
  // display width <= 900 ?
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

}

body {
  box-sizing: border-box;
  padding: 3rem;
  
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}