*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 
  this is 1 rem = 10px 
  10px(we want)/16px(browser defult) 
  = 0.625 * 100 = 62.5%
  */

  font-size: 62.5%;

  // display width >= 1800
  @include respond(big-desktop) {
    font-size: 75%;   // 1rem = 12px, 12/16 = 75%
  }
  
  // display width <= 1200 ?
  @include respond(tab-land) {
    font-size: 56.25%;  // 1rem = 9px, 9/16 = 56.25%
  }
  
  // display width <= 900 ?
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

}

body {
  @import url('https://fonts.googleapis.com/css?family=Barlow:300,400,700');;
  font-family: 'Barlow', sans-serif;
  // font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding: 1rem 10rem !important;
  color: $color-dark-grey-3;
  
  @include respond(tab-port) {
    padding: 1rem 2rem !important;
  }

  @include respond(tab-land) {
    padding: 1rem 1.5rem !important;
  }

  @include respond(phone) {
    padding: .5rem .5rem !important;
  }
}

.container {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-rows: min-content 1fr;
  grid-template-columns: [full-start] minmax(1rem, 10rem)
                         [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
                         [center-end] minmax(1rem, 10rem)
                         [full-end];
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}