.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-port) {
    margin-right: 0;
    margin-bottom: 7px;
  }

  @include respond(phone) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}