.header-wrapper {
  background-color: red;

}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  grid-column: full-start / full-end;

  &-item {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
  }

  @include respond(tab-port) {
    margin-right: 0;
    margin-bottom: 7px;
  }

  @include respond(phone) {
    align-content: space-around;
    height: 11rem;
  }
}

.config-wrapper {
  display: flex;
  justify-content: flex-end;
}