.card {
  padding: 2rem;
  margin: 1rem auto 1rem auto;
  border: 1px solid $color-light-grey-2;
  border-radius: 1rem;
  background-color: $color-light-grey-1;
}

.MqttCard {
  // background-color: $color-light-grey-1;
  font-size: 1.3rem; 

  &__header {
  background-color: $color-light-grey-1;
  // border: 1px solid $color-light-grey-2;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  font-size: $default-font-size;
  }

  &__content {
    background-color: $color-light-grey-1;
    padding: 1rem 1rem;
    border-bottom: 1px solid $color-light-grey-2; 
    // border-left: 1px solid $color-light-grey-2; 
    // border-right: 1px solid $color-light-grey-2; 
    p{
      padding: 1rem;
      letter-spacing: 1.5px;

      span {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  &__footer {
    background-color: $color-light-grey-1;
    padding: 1rem 1rem;
    // border: 1px solid $color-light-grey-2;  
    border-radius: 0 0 1rem 1rem;
  }
}

.fail {
  background-color: $color-secondary-dark;
  color: white;
}

.success {
  background-color: $color-primary;
  color: white; 
}