.card {

  // &--header {
  //   box-shadow: 0 0 .4rem rgba($color-black, .15);
  //   padding: 1rem 2rem;
  // }

  width: 35%;
  padding: 2rem;
  margin: 1rem auto 1rem auto;
  border: 1px solid $color-light-grey-2;
  border-radius: 1rem;
  background-color: $color-light-grey-1;

  @include respond(tab-port) {
    width: 60%;
  }

  @include respond(phone) {
    width: 70%;
  }

}