.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-content: center;

  @include respond(phone) {
      order: 1;
      flex: 0 0 100%;
      background-color: $color-light-grey-1;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: $color-light-grey-1;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: $color-light-grey-2;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-dark-grey;
    }

  }

  &__input:focus + &__button {
    background-color: $color-dark-grey-2;
  }

  &__button {
    border: none;
    background-color: $color-dark-grey-2;
    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    // set color for svg 
    fill: $color-dark-grey-2;
  }
}