.search {
  text-align: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: $color-light-grey-1;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 85%;
    transition: all .2s;

    &:focus {
      outline: none;
      width: 95%;
      background-color: $color-light-grey-2;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-dark-grey;
    }

    @include respond(phone) {
      width: 98%;  
      margin-top: .7rem;
  
      &:focus {
        width: 100%;
      }
    }
  }

  @include respond(phone) {
    width: 100%;  
    margin-top: .7rem;
    margin-bottom: .2rem;
  }

}